# APK / AAB
*.apk
*.aab

# Signing
*.keystore
*.jks
key.properties

# Android
.idea/
*.iml
local.properties
app/build/
build/
captures/

# Gradle
.gradle/
gradle.properties

# System
.DS_Store
Thumbs.db

# Secrets - مهم جداً
app/src/main/java/com/spyapp/TelegramBot.kt
config.properties
